.about__description {
  margin: 0;
  padding: 0;
  width: 486px;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  color: var(--var-body-lt);
  text-align: center;
  margin: 0 auto;
  padding-top: 18px;
  transition: 1s all;
}

@media screen and (max-width: 550px) {
  .about__description {
    width: 250px;
  }
}