.portfolio__img {
  display: block;
  padding: 0;
  margin: 0;
  width: 800px;
  height: 413px;
  object-fit: fill;
  grid-area: img;
  transition: 1s all;
}


@media screen and (max-width: 1023px) {
  .portfolio__img {
    width: 90%;
    margin: 0 auto;
  }
}

@media screen and (max-width: 767px) {
  .portfolio__img {
    height: 350px;
    margin-top: -30px;
  }
}