.footer__link-social {
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--var-body-lt);
  transition: 1s all;
  gap: 10px;
}

.footer__link-social:hover {
  cursor: pointer;
  opacity: 0.5;
}