.name__wrapper-helpers {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 25px;
  grid-area: helpers;
  justify-self: end;
  align-self: baseline;
}

@media screen and (max-width: 1023px) {
  .name__wrapper-helpers {
    align-self: center;
  }
}